<footer>
    <div class="f-info sticky-end">
        <div class="f-info-social">
            <i class="ri-facebook-box-fill"></i>
            <i class="ri-twitter-x-fill"></i>
            <i class="ri-linkedin-box-fill"></i>

        </div>
        <div>&copy; Shiksha Internation Play School  </div>
        <div class="f-info-links">
            <a href="/privacy"> Privacy </a>
            <a href="/terms">Terms </a>
        </div>
    </div>
</footer>