<% layout('/layout/boilerplate') %>

<body>
    <form method="post" action="/homework/<%=classid%>/addhomework" class="needs-validation" novalidate>
        <div>
            <label for="description" class="form-label">add homework </label>
            <textarea name="description" placeholder="description" class="form-control" required></textarea>
            <div class="valid-feedback">Looks good!</div>
            
        </div>
    
       
    
       
    
       
    
        <button class="btn btn-primary">Submit</button>
    </form>
    
</body>