<% layout('/layout/boilerplate') %>

<body>
    <div class="row mt-3">
        <h1> Login </h1>
       
    
    <div class="col-6 offset-2">
        <form action="/user/login" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <lable for="username" class="form-lable">Username </lable>
                <input type="text" class="form-control" required  placeholder="Username" name="username" id="username">
              
            </div>
        
            <div class="mb-3">
                <lable for ="password" class="form-lable" > Password</lable>
                <input type="password" id="password" name="password"  required class="form-control">
                           </div>
            <button type="submit" class="btn btn-primary">
                login 
            </button>
        </form>

    </div>
</div>
    
</body>
</html>