<% layout('/layout/boilerplate') %>



<form method="post" action="/notices/addnew/withphoto" enctype="multipart/form-data"  class="needs-validation" novalidate>
    <div>
    <lable for="title" class="form-lable" >Title</lable>
    <input type="text" name="title" placeholder="title" class="form-control" required  >
    <div class="valid-feedback">
        looks good;
    </div>
</div>

  
<div clas="mb-3">
    <lable for="image"class="form-lable" required > Uploadimage</lable>

        <input type="file" name="image" placeholder="enterl" required class="form-control" > 
    </div>
    <div>
        <lable for="content" class="form-lable" > content </lable>
        <textarea  name="content" rows="5" cols="48" class="form-control" required  >
            enter the description of the notice 
            </textarea>
            <div class="invalid-feedback">
                content  should be valid   </div>
        
        </div>

       
        <button clas="btnofnew"> 
            submit
        </button>
</form>