<% layout('/layout/boilerplate') %>

<body>
    <h1> which type of notice you want </h1>
    <div class="container">
        <a href="/notices/addnew/simple" class="btn btn-primary "> onlytext</a>
        <a href="/notices/addnew/withphoto" class="btn btn-primary"> textwithphoto </a>
        </a>
    </div>
</body>